body{
  background-color:green;
}
img{
  border-radius:50%;
  width:100px;
}
p{
  text-align:center;
  padding:20px;
  width:450px;
}
.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}
.links {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}

